<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.djangowong.LaunchBar.action.GIPHY</string>
	<key>CFBundleName</key>
	<string>GIPHY</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>LBAbbreviation</key>
	<string>gf</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Django Wong</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBBackgroundKillEnabled</key>
			<true/>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Search Gifs - Powered by GIPHY</string>
</dict>
</plist>
